body{
    background-image: url(fundo.gif);
    user-select: none;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 2px #8F8F8F;
}

.bloco{
    display: block;
    margin: 15vw auto 15vw auto;
    background-color: rgb(0, 119, 255);
    height: 250px;
    width: 265px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.781);
    padding: 10px;
}
#txtn1, #txtn2{
    padding: 9px;
    width: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 2px solid black;
}

#botao{
    display: block;
    padding: 10px;
    font-weight: bold;
    color: rgb(59, 155, 46);
    border-radius: 5px;
    border: 2px solid black;
    margin: 0 auto;
    cursor: pointer;
}

#mais{
    font-size: 20px;
    font-weight: bold;
}

#res{
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    color: red;
    padding: 6px;
}
